# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.db
*.sqlite3

# Virtual environment
env/
venv/
.venv/
ENV/
conda/
*.egg-info/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/

# Uploaded files (optional)
uploads/
*.xlsx
*.csv

# -----------------------------
# System files
# -----------------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# Build artifacts
# -----------------------------
build/
dist/
